<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--<script src="https://cdn.jsdelivr.net/npm/require@2.4.20"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div style="height:1800px">
        <canvas id="priceChart"></canvas>
        <canvas id="rankChart"></canvas>
    </div>
    <script src="js/loadchart.js"></script>
    <!--<script type="module" src="js/sql.js"></script>-->

</body>
</html>